<div class="container">
    <div class="row">
        <div class="col-9">
            <h2 class="display-5 my-3">Budget Entries</h2>

        </div>
        <div class="col-3">
            <a type="button" routerLink="/new-budget-entry" class="budget-entry btn btn-outline-primary px-4 float-end">
                Budget Entry
            </a>

        </div>
    </div>
    <div class="list-group">
        <a *ngFor="let budgetEntry of budgetEntries" class="list-group-item list-group-item-action" [ngClass]="{'text-danger': budgetEntry.category == 'OUTCOME', 
            'text-success': budgetEntry.category == 'INCOME'}">
            <div class="row">
                <div class="col">
                    <div class="d-flex w-100 justify-content-between align-items-center">
                        <h5 class="mb-1 text-dark">{{budgetEntry.title}}
                            <span [ngClass]="{
                                'badge-danger': budgetEntry.category == 'OUTCOME', 
            'badge-success': budgetEntry.category == 'INCOME'
        }" class="badge">
                                {{budgetEntry.category}}
                            </span>
                        </h5>
                    </div>
                    <p *ngIf="budgetEntry.category == 'INCOME'" class="mb-1">
                        +{{budgetEntry.amount | currency}}
                    </p>
                    <p *ngIf="budgetEntry.category == 'OUTCOME'" class="mb-1">
                        -{{budgetEntry.amount | currency}}
                    </p>
                </div>
                <div class="col float-end">
                    <a type="div" [routerLink]="['/budget-entry', budgetEntry.id, 'edit']">
                        <bi name="pencil" class="small float-end" style="color: orange;"></bi>
                    </a>
                </div>
            </div>
        </a>
    </div>
</div>